mat-card.login {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

mat-card.signup {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
  box-shadow: 2px;
}

.mySpinner {
  position: fixed;
  margin: auto;
  top: -75%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
