<div class="background">
  <div class="center">
    <div id="container">
      <div id="error-box">
        <div class="dot" style="width: 5%; height: 5%;" (click)="onClose()"></div>
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="message">
          <h3 class="alert">Error!</h3>
          <p class="mess">{{ message }}</p>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>
